<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="embed-responsive embed-responsive-16by9 video_home">
                <%= video_tag(
                              'sandwich_video_no_sound.mp4',
                              # id: 'background',
                              autoplay: true,
                              loop: true,
                              muted: true,
                              poster: 'Video_jumbotron_static_initial.png',
                            )
                            %>
      </div>
    </div>
  </div>
</div>