<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="locations">
        <h3> Orem </h3>
        <br>
        <h1> We've Moved!</h1>
        <div>1680 S State St </div>
        <div>Orem, UT 84097-8070</div>
        <div>(801) 225-9475</div>
        <div><%= link_to 'Map', contact_path %></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="locations">
        <h3> Provo </h3>
        <br>
        <h1> Same Great Location!</h1>
        <div>163 West Center Street</div>
        <div>Provo, UT 84601-4431</div>
        <div>(801) 377-9244</div>
        <div><%= link_to 'Map', contact_path %></div>
      </div>
    </div>
  </div>
</div>