<div class="app-card-container">
  <div class="card">
    <h1>Contact Us</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        
        <h3>Provo</h3>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97421.58464250146!2d-111.75213743939557!3d40.266319086848966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d975494ad288d%3A0xe55b532ce8a0eee4!2sSensuous+Sandwich!5e0!3m2!1sen!2sus!4v1521489175758" width="320" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <h5>Location:</h5>
        <p>Downtown 163 West Center Street Provo, UT 84601-4431</p>
        <h5> Phone:</h5>
        <p><%= number_to_phone "8013779244" %></p>

        
        
      </div>
      <div class="col-md-6">

        <h3>Orem</h3>
        <div>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48738.41779237531!2d-111.67308901149546!3d40.227942259885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d9754935ea6f7%3A0xc1e6346e076c8724!2sSensuous+Sandwich!5e0!3m2!1sen!2sus!4v1521489552290" width="320" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <h5>Location:</h5>
        <p>1680 S State St Orem, UT 84097-8070</p>
        <h5> Phone:</h5>
        <p><%= number_to_phone "8012259475" %></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h1>Additional Contact info!</h1>
          <br>
          <div>
            Visit us on <a href="https://www.facebook.com/Sensuous-Sandwich-120566154626861/">Facebook</a>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
