<h1>Pages#home</h1>
<p>Your sandwich here:</p>

<%= render partial: 'shared/video_header'%>

<%= render partial: 'shared/welcome_text'%>

<%= render partial: 'shared/welcome_locations' %>

<%= render partial: 'shared/carousel' %>

